name: tests

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    environment: Testing

    services:
      typesense:
        image: typesense/typesense:29.0

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: xdebug

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Start Typesense
        run: |
            docker run -d \
            -p 8108:8108 \
            --name typesense \
            -v /tmp/typesense-data:/data \
            -v /tmp/typesense-analytics-data:/analytics-data \
            typesense/typesense:29.0 \
            --api-key=xyz \
            --data-dir=/data \
            --enable-search-analytics=true \
            --analytics-dir=/analytics-data  \
            --analytics-flush-interval=60 \
            --analytics-minute-rate-limit=100 \
            --enable-cors
  
      - name: Wait for Typesense to be healthy
        shell: bash
        run: |
            start_time=$(date +%s)
            timeout=30
            counter=0
            echo "Waiting for Typesense to be healthy..."
            until curl -s http://localhost:8108/health | grep -q '"ok":true'; do
              if [ $counter -eq $timeout ]; then
                echo "Timed out waiting for Typesense to be healthy"
                exit 1
              fi  
              sleep 1
              counter=$((counter + 1))
            done
            end_time=$(date +%s)
            elapsed=$((end_time - start_time))
            echo "Typesense healthcheck elapsed: ${elapsed}s"

      - name: Install Node Dependencies
        run: npm i

      - name: Add Flux Credentials Loaded From ENV
        run: composer config http-basic.composer.fluxui.dev "${{ secrets.FLUX_USERNAME }}" "${{ secrets.FLUX_LICENSE_KEY }}"

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Build Assets
        run: npm run build

      - name: Run Tests
        run: ./vendor/bin/pest